<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h2>{{ store.getStoreName }}</h2>
        <h3>Phone Number: {{ store.getStorePhone }}</h3>
        <h3>Brands Carried:</h3>
        <ul>
            {% if store_brands is not empty %}
                {% for store_brand in store_brands %}
                    <li><a href="/brands/{{ store_brand.getId }}">{{ store_brand.getBrandName }}</a></li>
                {% endfor %}
            {% else %}
                <h3>No brands yet!</h3>
            {% endif %}
        </ul>
        <form action="/{{ store.getId }}/add_brand" method="post">
            <input type="hidden" name="store_name" value="{{ store.getId }}">
            <label>Add a brand</label>
            <select name="brand_id" type="text">
                {% for brand in brands %}
                    <option value="{{ brand.getId }}"> {{ brand.getBrandName }} </option>
                {% endfor %}
            </select>
            <button type="submit">Add Brand</button>
        </form>

<br>
        <form action='/{{ store.getId }}/delete_store' method='post'>
            <input name="_method" type="hidden" value="delete">
            <button type='submit'>Delete Store</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
